:host {
  width: 95%;
}

.selecao-titulo {
  width: 100%;
  text-align: center;
  background-color: rgb(120, 42, 165);
  color: white;
}
.selecao-titulo h3 {
  margin: 5px 0 0 0;
  padding: 5px;
}

.selecao-titulo i {
  font-size: 0.8em;
  margin: 0;
}

.selecao-item {
}
.selecao-item label {
  display: block;
  width: calc(100% - 10px);
  padding: 5px;
}

.selecao-item :hover {
  background-color: rgb(234, 203, 248);
  animation: changeBackgroundColor 4s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: rgb(234, 203, 248);
  }
  50% {
    background-color: rgb(220, 178, 240);
  }
  100% {
    background-color: rgb(234, 203, 248);
  }
}
